{% extends 'base3.html.twig' %}

{% block title %}Register{% endblock %}

{# {% block content %} 
     <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}


{% block body %}


    
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <a ><h3 class=" site-heading my-4 mt-3 text-white text-center" > Welcome to My first Blog using Symfony </h3></a>
                        <p class="text-light text-center">I hope you like it ^^  ..! 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <p> <div class="container center" >
    
    

        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                    <div class="card-header">S'inscrire</div>
                        <div class="card-body">
                            <form method="post" >
                                {{ form_start(registrationForm) }}
                                    <div  >
                                        {{ form_row(registrationForm.email) }}
                                    </div>
                                <div>
                                    {{ form_row(registrationForm.plainPassword) }}
                                </div>
                                <div  >
                                    {{ form_row(registrationForm.agreeTerms) }}
                                </div>
                                <div class="input-field col s12">
                                    <input type="submit" class="btn btn-primary" value="M'inscrire">
                                </div>
                                {{ form_end(registrationForm) }}
                            </form>
                        </div>
                    </div>
            </div>
        </div></p>
    {% endblock %}


