{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    <a class="btn btn-default" href="{{ path('articles_index') }}">Annuler</a> 
{{ form_end(form) }}
